.inline-list {
	
}

.inline-list .inline-list-item {
	display: inline-block;
}

.inline-list .inline-list-item:first-of-type {
	margin-left: 0rem;
}

.inline-list .inline-list-item:last-of-type {
	margin-right: 0rem;
}

.row-list {
	
}

.row-list .row-list-item {
	
}

.row-list .row-list-item:first-of-type {
	margin-top: 0rem;
}

.row-list .row-list-item:last-of-type {
	margin-bottom: 0rem;
}

.inline-list .row-list-item {
	display: inline-block;
}

.row-list .row-list-item:first-of-type {
	margin-top: 0rem;
}

.row-list .row-list-item:last-of-type {
	margin-bottom: 0rem;
}